extends layout 

block content 
  h1=title
  p Are you sure you want to delete #{category.name}?

  .btn-group 
    a(href="/categories")
      button.btn Go back 

    form(action="", method='POST')
      button(class='btn btn-silver') Delete
