extends layout 

block content 
  h1=title
  .btn-group
    a(href="/categories/add")
      button.btn Add category
    a(href="/items/add")
      button.btn Add item

  p Categories list

  div(class='categories-wrapper')
    a(href=('/categories/all'), class='btn btn-gold') All items
    for category in categories 
      a(href=(category.url), class='btn btn-silver')=category.name
