extends layout 

block content 
  h1=title
  a(href="/categories/add") #[button.btn Add category]   
  p Categories list

  div(class='categories-wrapper sm')
    for categorie in categories 
      a(href=(categorie.url), class='btn btn-silver')=categorie.name
