extends layout 

block content 
  h1=title 
  p Welcome to the Antique-Store, a place to search for old items by category.
  p This project is part of #[a(href="https://www.theodinproject.com/") the odin project] curriculum.
