doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href="/stylesheets/main-style.css")
    title Antique Market
  body 
    header#main-header
      div#logo
        h1 Antique-Market
        p A place to find the past.
      nav
        ul
          li.btn
            a(href="/") Homepage
          li.btn
            a(href="/categories") Categories
          li.btn
            a(href="/about") About
          

    main#main-content
      block content
    footer#main-footer
      p Made by &copy #[a(href="https://github.com/FernanEd", target="_blank", rel="noopener noreferrer") FernanEd.] 2021.